In [66]:
#Import dependencies
import os
import pandas as pd
import time
from sqlalchemy import create_engine

In [26]:
#Name files
titlesStartTime = time.time()
titlesFile = os.path.join("Resources","netflix_titles.csv")
moviesStartTime = time.time()
moviesFile = os.path.join("Resources","movies_all_streaming.csv")
tvshowsTime= time.time()
tvshowsFile = os.path.join("Resources","tv_shows_all_streaming.csv")

In [27]:
titles_df = pd.read_csv(titlesFile)
# titles_df.head()

movies_df = pd.read_csv(moviesFile)
# movies_df.head()

tvshows_df = pd.read_csv(tvshowsFile)
# tvshows_df.head()

In [52]:
titlesClean = titles_df[
                        ["type","title","country","date_added","release_year","rating"]]
titlesClean = titlesClean.rename(columns={
    "type":'Type',
    'title':"Title",
    'country':'Country',
    'date_added':'Date_Added',
    'release_year':'Year',
    'rating':'Rating'
})
titlesClean['Date_Added'] = pd.to_datetime(titlesClean['Date_Added'])
# titlesClean.head()
# titlesClean['Country'].count()

In [53]:
moviesClean = movies_df[
    ["Title","Year","Age","IMDb","Rotten Tomatoes","Netflix","Country"]
]

mC_all= len(moviesClean)

moviesClean = moviesClean.loc[moviesClean['Netflix']==1]
mC_Netflix = len(moviesClean)
moviesClean = moviesClean.drop(columns='Netflix')
moviesClean = moviesClean.rename(columns={'Rotten Tomatoes':"Rotten_Tomatoes"})
# moviesClean.head()
# moviesClean['Country'].count()

In [61]:
movieMerge = pd.merge(titlesClean, moviesClean, on=['Title','Year'], how='inner')
mM_all = len(movieMerge)
movieMerge = movieMerge.dropna()
mM_complete = len(movieMerge)
print(mM_all)
print(mM_complete)
movieMerge = movieMerge.rename(columns={'Country_x':"Country"})
movieMerge = movieMerge.drop(columns='Country_y')
movieMerge.reset_index(inplace=True,drop=True)
movieMerge

2528
763

,Type,Title,Country,Date_Added,Year,Rating,Age,IMDb,Rotten_Tomatoes
0,Movie,9,United States,2017-11-16,2009,PG-13,13+,7.1,57%
1,Movie,21,United States,2020-01-01,2008,PG-13,13+,6.8,36%
2,Movie,1922,United States,2017-10-20,2017,TV-MA,18+,6.3,90%
3,Movie,22-Jul,"Norway, Iceland, United States",2018-10-10,2018,R,18+,6.8,80%
4,Movie,13 Cameras,United States,2016-08-13,2015,NR,18+,5.1,77%
...,...,...,...,...,...,...,...,...,...
758,Movie,Young Adult,United States,2019-11-20,2011,R,18+,6.2,80%
759,Movie,Yucatán,Spain,2019-02-15,2018,TV-MA,7+,5.4,60%
760,Movie,Zack and Miri Make a Porno,United States,2018-10-01,2008,R,18+,6.5,65%
761,Movie,Zindagi Na Milegi Dobara,India,2019-12-15,2011,TV-14,7+,8.1,91%
762,Movie,Zoom,United States,2020-01-11,2006,PG,7+,4.4,3%

In [62]:
tvshowsClean = tvshows_df[["Title","Year","Age","IMDb","Rotten Tomatoes","Netflix"]]

tvC_all= len(tvshowsClean)

tvshowsClean = tvshowsClean.loc[tvshowsClean['Netflix']==1]
tvC_Netflix = len(tvshowsClean)
tvshowsClean = tvshowsClean.drop(columns='Netflix')
tvshowsClean = tvshowsClean.rename(columns={'Rotten Tomatoes':"Rotten_Tomatoes"})
# tvshowsClean.head()

In [64]:
tvshowsMerge = pd.merge(titlesClean, tvshowsClean, on=['Title','Year'], how='inner')
tvM_all = len(tvshowsMerge)
tvshowsMerge = tvshowsMerge.dropna()
tvM_complete = len(tvshowsMerge)
print(tvM_all)
print(tvM_complete)
tvshowsMerge.reset_index(inplace=True,drop=True)
tvshowsMerge

709
139

,Type,Title,Country,Date_Added,Year,Rating,Age,IMDb,Rotten_Tomatoes
0,TV Show,1983,"Poland, United States",2018-11-30,2018,TV-MA,18+,6.8,100%
1,TV Show,Alias Grace,Canada,2017-11-03,2017,TV-MA,18+,7.8,99%
2,TV Show,All About the Washingtons,United States,2018-08-10,2018,TV-PG,all,4.2,40%
3,TV Show,American Odyssey,United States,2016-04-05,2015,TV-14,16+,7.3,54%
4,TV Show,Another Life,United States,2019-07-25,2019,TV-MA,18+,4.9,6%
...,...,...,...,...,...,...,...,...,...
134,TV Show,When They See Us,United States,2019-05-31,2019,TV-MA,18+,8.9,96%
135,TV Show,White Lines,"United Kingdom, Spain",2020-05-15,2020,TV-MA,18+,6.2,58%
136,TV Show,Wild Wild Country,United States,2018-03-16,2018,TV-MA,16+,8.2,98%
137,TV Show,Wormwood,United States,2017-12-15,2017,TV-14,16+,7.0,92%
138,TV Show,Wu Assassins,United States,2019-08-08,2019,TV-MA,18+,6.4,83%